configuration {
  sort: true;
  sorting-method: "fzf";
  modes: "drun,loc:rofi-locate.sh";
  show-icons: true;
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
  kb-element-next: "";
  kb-element-prev: "";
  kb-row-select: "Ctrl+Tab,Ctrl+space";
  kb-mode-next: "Shift+Right,Tab";
  kb-mode-previous: "Shift+Left,ISO_Left_Tab";
}
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
