[Desktop Entry]
Name=Among Us
Comment=Play this game on Steam
Exec=xdg-open steam://rungameid/945360
Icon=steam_icon_945360
Terminal=false
Type=Application
Categories=Game;
