[Desktop Entry]
Type=Application
Version=1.0
Name=Vampire Survivors
Exec=sh -c "cd $HOME/Games/'Vampire Survivors'/; wine 'Vampire Survivors.exe'"
Icon=Vampire-Survivors
Terminal=false
